<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/dell/.ssh/workspace/muke/Autotest/AUtoTest-02/src/main/resources">
        <classes/>
    </test>
    <test name="这是一个测试文件">

        <classes>
            <class name="ExtentreportsTest">
                <methods>
                    <include name="test01"/>
                    <include name="test02"/>
                    <include name="test03"/>
                    <include name="test04"/>
                    <include name="runtimelog"/>
                </methods>
            </class>

        </classes>
    </test>

    <listeners >
        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"></listener>
    </listeners>
</suite>